/*body part of page*/
/*added back ground image */
body {
    background-image: url("./assets/images/proto_back_background_1.wide.jpeg");
    font-family: 'Merriweather', serif;
  }
.navbar-container {
    max-width: none;
    
}
.time {
    font-size: medium;
    color:white ;
}
.code{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*footer part of  page */
footer {
    background-color: #343a40;
    height: 4rem;
    padding: 18px;
    color: white;
    border-top: orange solid;
  }
  /*is use gor git and linkhub icon */
.icon {
    width: 30px;
    height: 30px;
    color: none;
    border-right: none;
  }